<h1><%= @restaurant.name %></h1>
<h2>Address: <%= @restaurant.address %></h2>
<h3>Type: <%= @restaurant.category.capitalize %></h3>
<p>Reviews:</p>
<ul>
  <% @restaurant.reviews.each do |review| %>
    <% if review.content.blank? %>
      <p>No reviews yet</p>
    <% else %>
      <li><%= review.content %> (<%= review.rating %>)</li>
    <% end %>
  <% end %>
</ul>
<p><%= link_to "Back to restaurants list", restaurants_path %></p>
